body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#root {
    height: 100% ;
}

.map {
    height: 100% ;
}

.message-form {
    z-index: 999;
    position: absolute;
    top: 10px;
    right: 10px;
}